albucore==0.0.24
albumentations==2.0.8
annotated-types==0.8.0
anyio==4.14.2
astor==0.8.1
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
Cython==3.2.9
decorator==5.3.1
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.5
fonttools==4.63.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
ImageIO==2.37.4
itsdangerous==2.2.0
Jinja2==3.1.6
lazy-loader==0.5
lmdb==2.3.0
lxml==6.1.2
MarkupSafe==3.0.3
MouseInfo==0.1.3
networkx==3.6.1
numpy==2.5.2
opencv-contrib-python==5.0.0.93
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
opt-einsum==3.3.0
packaging==26.3
paddleocr==2.10.0
paddlepaddle==2.6.2
pillow==12.3.0
protobuf==3.20.2
PyAutoGUI==0.9.54
pyclipper==1.4.0
pydantic==2.13.4
pydantic_core==2.46.4
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
python-docx==1.2.0
pytweening==1.2.0
PyYAML==6.0.3
RapidFuzz==3.14.5
requests==2.34.2
scikit-image==0.26.0
scipy==1.18.0
shapely==2.1.2
simsimd==6.5.16
soupsieve==2.9.2
stringzilla==5.1.2
termcolor==3.3.0
tifffile==2026.8.16
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
